/* =========================================
MAIN PROFILE PAGE
============================================ */

/* ------------  BASE STYLES  ------------ */

a{
	text-decoration: none;
	color: inherit;

}

a:hover{
	color: $accent;
}

a:visited{
	color: inherit,
}

body{
	background: $lightblue;
}

.mainScreen{
	background-image: url(../assets/mes-background.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	height: 100vh;
	position: relative;
}

.bg{
  display: block;
  width: 100%;
	height: 100%;
	top: 0;
  left: 0;
	position: absolute;
}

.bg-dark{
  background-color: #a7bdcc;
  mix-blend-mode: darken;
}

.bg-light{
  background: #083e5f;
  mix-blend-mode: lighten;
}


.main__content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 5;
}

.mainScreen-logo{
	padding: 10px;
	font-size: 1rem;
	color: $darkblue;
}


/* ------------  USER PROFILE BOX  ------------ */

.mainScreen-profile{
	display: flex;
	position: relative;
}

.userProfile{
	width: 20%;
	// height: 60vh;
	margin-top: 10vh;
	margin-bottom: 10vh;
	min-width: 276px;
	background: $light-shade;
	box-shadow: 5px 5px 4px $dark-shade;
	margin-left: 15%;
}

.profilePic{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: 38px auto;
	overflow: hidden;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


/* ------------  MAIN CONTENT   ------------ */

.profile__content{
	width: 50%;
	margin-top: 100px;
	border: 1px solid green;
}

.profile__content--header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid darkblue;
	width: 100%;
}

.hi-user,
.userName{
	font-family: $title;
	color: $light-shade;
	font-size: 3rem;
}

.icons{
	display: flex;
	color: $light-shade;
	font-size: 2rem;
	li {
		padding: 5px;
		margin: 5px;
	}
}



.news,
.songRec{
	background: $light-shade;
	border: 1px solid hotpink;
	width: 80%;
	margin: 20px auto;
}

.news-img{
	height: 75px;
	width: 75px;
	border: 1px solid black;
}
.news{
	display:flex;
	align-items: center;
}


/* ------------  FOOTER  ------------ */

footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 5px;
	background-color: $darkblue;
	color: $light-shade;
}