/* =========================================
MAIN PROFILE PAGE
============================================ */

/* ------------  BASE STYLES  ------------ */

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: $accent;
}

a:visited{
	color: inherit;
}

body{
	background: $lightblue;
}

.mainScreen{
	background-image: url(../assets/mes-background.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.bg{
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
  	left: 0;
	position: absolute;
}

.bg-dark{
  background-color: #a7bdcc;
  mix-blend-mode: darken;
}

.bg-light{
  background: #083e5f;
  mix-blend-mode: lighten;
}


.main__content{
	border: 1px solid red;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 5;
	a{
		color: $darkblue;
	}
	a:hover{
		color: $accent;
	}
}

.mainScreen-logo{
	width: fit-content;
	width: -moz-fit-content;
	margin: 10px;
	//padding: 10px;
	font-size: 1rem;
	color: $darkblue;
	display: flex;
	align-items: center;
	background:  rgba(248, 249, 247, 0.3);
	box-shadow: 0 0 10px rgba(248, 249, 247, 0.5);
	.logoImg {
		display: inline-block;
		width: 40px;
	}
}

/* ------------  USER PROFILE BOX  ------------ */

.mainScreen-profile{
	display: flex;
	position: relative;

	@include mq(med){
		flex-direction: column;
		margin-left: 20px auto;
	}
}

.userProfile{
	width: 20%;
	margin-bottom: 10vh;
	min-width: 276px;
	max-height: 425px;
	background: $light-shade;
	border-radius: 7px;
	box-shadow: 5px 5px 4px $dark-shade;
	margin-left: 17%;
	font-family: $paragraph;
	font-size: 1.6rem;

	@include mq(med){
		margin: 0 auto;
		width: 90%;
		display:flex
	}

}

.profilePic{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: 38px auto;
	overflow: hidden;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include mq(sm){
		width: 150px;
		height: 150px;
	}
}

.userDescription{
	margin: 0 auto;
	padding: 0 50px;

	@include mq(med){
		margin-top: 50px;
	}
}

/* ------------  MAIN CONTENT   ------------ */

.profile__content{
	width: 50%;
	margin-bottom: 10px;

	@include mq(med){
		width: 90%;
		margin: 15px auto;
	}
}

.about{
	font-family: $paragraph;
	font-size: 1.4rem;
	padding: 20px;
	background: $light-shade;
	display:none;
	h4{
		text-transform: uppercase;
	}
}

.about-visible{
	display: block;
}

.profile__content--header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.hi-user,
.userName{
	font-family: $title;
	color: $light-shade;
	font-size: 3rem;
	padding: 0;
	margin: 0;
}

.icons{
	padding: 0;
	margin: 0;
	display: flex;
	color: $light-shade;
	font-size: 2rem;
	li {
		padding: 5px;
		margin: 5px;
	}
}

.news,
.songRec,
.about{
	width: 80%;
	margin: 20px auto;
	border-radius: 7px;
	box-shadow: 5px 5px 4px $dark-shade;
	
}

.news-img{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.news{
	background: $light-shade;
	display:flex;
	align-items: center;
	padding: 10px;
}
.songRec {
	iframe {
		border-radius: 10px;
	}
}


/* ------------  FOOTER  ------------ */

footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px;
	background-color: $darkblue;
	color: $light-shade;
	font-family: $paragraph;
}