/* =========================================
SIGN-IN MODAL
============================================ */

.signInScreen {
    height: 100vh;
    background-image: url(../assets/formbackground.png);
    color: $dark-shade;
    padding: 20px 5px;
    border: 1px solid red;
    .wrapper {
        width: 60%;
        margin: 0 auto;
        border-radius: 3px;
        padding: 15px;
        background: linear-gradient(to bottom, $darkblue, $lightblue);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 2px 2px lightgrey;
        .logo {
            border: 1px solid orange;
            width: 100%;
            padding: 10px;
            color: $light-shade;
            display: flex;
            flex-flow: row wrap;
            h1 {
                display: block;
                font-family: $logo;
                font-size: calc(1rem + 0.5vw);
            }
        }
    }
}
//in wrapper 
.signInBox, 
.description {
    padding: 10px; 
    font-family: $paragraph;
}
.signInBox {
    width: 50%;
    text-align: center;
    border-radius: 6px 0 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        width: 100%;
        margin: 0 auto;
        background: rgba(248, 249, 247, 0.5);
        text-align: left;
        border-radius: 3px;
        padding: 15px;
        p {
            font-family: $title;
            font-size: calc(1rem + 0.3vw);
            text-align: center;
            text-shadow: 1px 1px 1px $lightblue;
        }
        hr {
            text-shadow: none;
            color: lighten($dark-shade, 50%);
            margin-bottom: 20px;
        }
        label, 
        input {
            display: block;
            width: 100%;
            margin: 10px 0;
            font-size: calc(1rem + 0.2vw);
        }
        input[type=text] {
            padding: 10px;
            border: none;
            box-shadow: 3px 3px $lightblue;
            margin-bottom: 20px;
        }
        input[type=submit] {
            width: fit-content;
            width: -moz-fit-content;
            margin: 10px auto;
            padding: 7px 12px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}
.description {
    width: 50%;
    border-radius: 0 6px 6px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    h2, h4, p {
        width: 90%;
        padding: 0;
    }
    h2 {
        font-size: calc(1rem + 0.6vw);
        margin: 0 5px 0 0;
        color: lightblue;
        text-shadow: 1px 1px $dark-shade;
    }
    span {
        display: block;
        color: $light-shade;
        font-family: $logo;
        font-size: calc(1rem + 1.7vw);
    }
    h4 {
        margin: 0 0 5px 0;
        font-size: calc(1rem + 0.3vw);
        color: lightblue;
        text-shadow: 1px 1px $dark-shade;
    }
    p {
        font-size: calc(1rem + 0.2vw);
        margin: 0;
        .inline {
            font-size: calc(1rem + 0.4vw);
            display: inline;
            text-shadow: 0.5px 0.5px $dark-shade;
        }
    }
}