/* =========================================
TYPOGRAPHY
============================================ */

$logo : 'Arial Rounded MT Bold', sans-serif;
$title: 'Merriweather Sans', sans-serif;
$paragraph:'Lato', sans-serif;
