/* =========================================
TYPOGRAPHY
============================================ */

$logo : 'Arial Rounded MT Bold', sans-serif;
$title: 'Merriweather Sans', sans-serif;
$paragraph:'Lato', sans-serif;


.logo-text{
	font-family: $logo;
}



/* ------------  SIGN-IN PAGE  ------------ */




/* ------------  MAIN PROFILE PAGE  ------------ */

