/* =========================================
VARIABLES & MIXINS
============================================ */

@mixin centerXY{
	display:flex;
	justify-content: center;
	align-items: center;
}

/* ------------  COLORS  ------------ */

/* RGB */
$accent: rgba(168, 37, 37, 1);
$light-shade: rgba(248, 249, 247, 1);
$dark-shade: rgba(57, 62, 65, 1);
$lightblue: rgba(191, 219, 247, 1);
$darkblue: rgba(5, 60, 94, 1);



/* ------------  RESPONSIVE MIXINS  ------------ */


// Breakpoints 
$xs: 600px;
$sm: 760px;
$med: 800px;
$lg: 960px;
$xl: 1200px;


// Media Queries

@mixin mq($break){
    @if $break == 'sm'{
		@media(max-width: $sm){
		@content;
			}
  } 
    @else if $break == 'med'{
		@media(max-width: $med){
		@content;
	}
    } 
    @else if $break == 'lg'{
		@media(max-width: $lg){
		@content;
			}
    }
    @else if $break == 'xl'{
		@media(max-width: $xl){
		@content;
			}
		}
}

