/* =========================================
MY EMOTIONAL SPACE -- Project #4 by Hannah Crump
& Laura-Louise Tobin
============================================ */

@import 'setup';
@import 'var-mix';
@import 'typography';


@import 'sign-in';
@import 'main';


/* ------------  BASE STYLES  ------------ */

html{
	font-size: 62.5%;
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}
